.logo {
  margin: 0 9px;
  width: 38px;
  height: 38px;
  opacity: 0.7;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #dee1e3;
  border-bottom: 1px solid #c7cbce;
  margin-bottom: 12px;
  height: 40px;
}

.navUl {
  color: #393b3d;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 4px;
}

.navLi {
  height: 100%;
  display: flex;
}

.navLi:hover {
  border-bottom: 2px solid #393b3d;
}

.navLinks {
  width: 100%;
  font-weight: 500;
  padding: 6px 9px;
}

.navSignUp {
  background-color: #00b06f;
  color: white;
  padding: 6px 9px;
  border-radius: 8px;
  margin-right: 12px;
  margin-left: auto;
  line-height: 100%;
}

.inputContainer {
  width: 25%;
  position: relative;
}
.navInput {
  color: #393b3d;
  padding-left: 33px;
  height: 28px;
  appearance: none;
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(57, 59, 61, 0.2);
  border-radius: 8px;
  font-family: inherit;
  width: 100%;
}

.searchIcon {
  position: absolute;
  opacity: 0.7;
  width: 18px;
  height: 18px;
  margin: 6px;
}

.footer {
  position: relative;
  bottom: 0;
  color: #606162;
  padding: 12px;
  max-width: 970px;
  margin: 0 auto;
}

.navFooterLinks {
  margin-top: 20px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.copyright {
  border-top: 1px solid #bdbebe;
  padding-top: 24px;
  font-size: 10px;
  padding-left: 24px;
}

.loginBox {
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.h1Login {
  margin-bottom: 18px;
  padding: 5px 0;
  font-size: 32px;
}

.lInput1,
.lInput2 {
  color: #393b3d;
  padding: 5px 12px;
  height: 28px;
  appearance: none;
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(57, 59, 61, 0.2);
  border-radius: 8px;
  font-family: inherit;
  width: 100%;
  height: 38px;
}

.lInput1 {
  margin-bottom: 18px;
}

.lButton {
  color: #393b3d;
  margin-top: 6px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #606162;
  background-color: transparent;
  padding: 9px;
  line-height: 100%;
  font-family: inherit;
  width: 100%;
}

.forgotText {
  z-index: 1;
  margin-top: 12px;
}

.forgotLink:hover {
  text-decoration: underline;
}

.divider {
  width: 100%;
  display: flex;
  font-size: 10px;
  position: relative;
  white-space: nowrap;
}

.dividerText {
  padding: 12px;
}

.divider1 {
  width: 100%;
  border-bottom: 1px solid rgba(57, 59, 61, 0.2);
  position: relative;
  top: -20px;
}

.divider2 {
  width: 100%;
  border-bottom: 1px solid rgba(57, 59, 61, 0.2);
  position: relative;
  top: -20px;
}

.noAccountText {
  margin: 24px;
}

.signUpBtn {
  font-weight: bold;
  margin-left: 6px;
}

.signUpBtn:hover {
  text-decoration: underline;
}
